@model IEnumerable<Final_Assignment1.Models.VehicleType>

@{
    ViewBag.Title = "Vehicle types";
}

<h2>View vehicle types</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.VehicleTypeId }) |
                @Html.ActionLink("Details", "Details", new { id = item.VehicleTypeId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.VehicleTypeId })
            </td>
        </tr>
    }

</table>
<style type="text/css">
    table.table {
        border-width: 3px;
        border-spacing: 2px;
        border-style: solid;
        border-color: gray;
        border-collapse: separate;
        background-color: rgb(255, 255, 240);
    }

        table.table th {
            border-width: 1px;
            padding: 4px;
            border-style: double;
            border-color: gray;
            background-color: white;
        }

        table.table td {
            border-width: 1px;
            padding: 4px;
            border-style: double;
            border-color: gray;
            background-color: #e0feff;
        }

    .table td:hover {
        background-color: white;
    }
</style>